.chshr {
  height: 24px !important;
}
.chshr .chlist, .chshr .chinput {
  display: none;
}
.chwin {
  z-index: 2;
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 256px;
  width: 400px;
  border: #aaaaaa 1px solid;
  border-left: #fb7700 1px solid;
  border-radius: 7px 0px 0px 0px;
  background-color: #ffffff;
  font-family: 'Myriad Pro';
  font-size: 11pt;
}
.chhead {
  height: calc(24px - 0.25em);
  position: absolute;
  background-color: #fb7700;
  top: 0px;
  left: 0px;
  width: calc(100% - 20px);
  padding: 0.25em 10px 0px 10px;
  border-radius: 4px 0px 0px 0px;
  font-weight: bold;
  font-size: 11pt;
  cursor: pointer;
}
.chlist {
  position: absolute;
  top: 24px;
  left: 0px;
  width: calc(100% - 10px);
  height: 200px;
  list-style: none;
  padding: 0px 5px 0px 5px;
  margin: 0px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #eeeeee;
  overflow-y: auto;
}
.chinput {
  position: absolute;
  bottom: 2px;
  left: 3px;
  width: calc(100% - 27px);
  border: none;
  border-radius: 10px 10px 0px 10px;
  padding: 5px 10px;
  background-color: #eeeeee;
}
.chshrbtn {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  right: 24px;
  cursor: pointer;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AgJBjgR7kpV0gAAAB1JREFUOMtjYBgFwwAwIrH/k6OXiVIXMI1GwnAAAErlAQYUzSSWAAAAAElFTkSuQmCC');
  background-position: center;
}
.chxbtn {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AgJBwAR+BeDHgAAAAh0RVh0Q29tbWVudAD2zJa/AAAAUElEQVQ4y2NgGGjAiMT+j0OcAZ8aJiIU4hPDaQC6hv/EeAGvQlz6GIl1Ki5LGUkIA6zqmagZjVTxAkWB+B+PQpxyTEQ6FVdg4zSAkUixQQAACvINEiubgxcAAAAASUVORK5CYII=');
  background-position: center;
}
.chshrbtn:hover, .chxbtn:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.chlist li {
  padding: 5px 10px;
  margin: 2px 0;
  border-radius: 10px;
  display: flex;
  clear: both;
  cursor: default;
}
.chlist li.chfailed {
  color: #777777;
  cursor: pointer;
}
.chlist li.sent {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  float: right;
  background-color: #eeeeee;
  border-bottom-right-radius: 0px;
}
.chlist li.recvd, .chlist li.chfailed {
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  background-color: #fc824c;
  border-bottom-left-radius: 0px;
}
