# backup files
*.swp
.*.swp
*~

# server log files
error_log
**/error_log
*.log

# sensitive config file
# contains database passwords and site-specific options
inc/config.php
# contains github hook secret
hook.php
# ignore database dump so you can delete it after setup
database.sql

# profile picture uploads
!dash/uimg/default.png
dash/uimg/*
