@font-face {
  font-family: 'Myriad Pro';
  src: url('../../ttf/myriad.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0)),
                    url('../img/0.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#nav {
  height: 60px;
  padding-top: 8px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
  background-color: #ffffff;
}
#navlogo {
  background-image: url('../../img/5.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8%;
  width: 200px;
  height: 48px;
  float: left;
}
#navlinks {
  margin-right: 8%;
  float: right;
  margin-left: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
#navlinks #sep {
  display: inline-block;
  width: 0.5px;
  height: 52px;
  border-radius: 5px;
  margin-right: 1em;
  background-color: #eeeeee;
}
#navlinks a {
  font-family: 'Myriad Pro';
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
  padding: 17px 0.5em;
  margin: 0px;
}
#navlinks a:hover {
  color: #fb4d00;
  cursor: pointer;
}
.navblock {
  padding: 15px 0px;
  position: relative;
  z-index: 1;
}
.subnav {
  display: none;
  background-color: #ffffff;
  margin: 0;
  padding: 0 0 0 2em;
  list-style: none;
}
.navblock:hover .subnav {
  display: block;
}
#content {
  position: absolute;
  top: 68px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: auto;
  height: calc(100% - 88px);
  border-radius: 2px;
  font-family: 'Myriad Pro';
  overflow-x: hidden;
  overflow-y: auto;
}
#footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-family: 'Myriad Pro';
}
#footer p {
  text-align: center;
  font-size: 10pt;
  margin: 0.33em 0;
}
.job p, .job h1 {
  margin: 0;
  text-align: center;
}
.job {
  margin: 2em auto 1em auto;
  width: 512px;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
  border-radius: 3px;
}
.jobtitle a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.jobblurb {
  padding: 1em;
  margin: 1em 1em 0 1em !important;
  background-color: #eeeeee;
  border-radius: 3px;
}
.jobblurb a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.joblocation::before, #fjhdetails::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('../img/location.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 3px;
}
.jobxbtn, .appxbtn {
  display: block;
  width: 16px;
  height: 16px;
  float: right;
  background-image: url('../img/x_hover2.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.jobxbtn:hover {
  background-image: url('../img/x_hover.png');
  cursor: pointer;
}
.appxbtn:hover {
  background-image: url('../img/x_red.png');
  cursor: pointer;
}
#fulljob {
  margin: 2em auto 1em auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: calc(100% - 5em);
  padding: 1em;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
  border-radius: 3px;
  background-color: #ffffff;
  overflow-y: auto;
  
}
#fjheader {
  text-align: center;
  margin-bottom: 1em;
}
#fjheader p, #fjheader h3 {
  margin: 0;
}
h3 a, h4 a {
  color: #000000 !important;
  text-decoration: none;
}
h3 a:hover, h4 a:hover {
  color: #000000 !important;
  text-decoration: none;
}
#fjbody {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
}
#fjfooter {
  margin-top: 1em;
}
#fjfooter h4 {
  margin: 1em 0 0 0;
}
#fjfooter p {
  margin: 0;
}
#fjfleft {
  float: left;
  margin-right: 0.5em;
}
#fjfleft img {
  margin-bottom: 0.5em;
  width: 192px;
  height: 192px;
}
#fjfleft p {
  margin: 0;
  font-size: 14pt;
  text-align: center;
}
#ename a, #ename a:hover {
  color: #000000 !important;
  font-weight: bold;
}
#fjfright {
  text-align: center;
}
#fulljob a, .errbox a {
  text-decoration: none;
  color: #fb4d00;
  cursor: pointer;
}
#fulljob a:hover, .errbox a:hover {
  color: #fb7700;
}
#fulljob #ebio {
  margin: 1em auto 0em;
  padding-top: 1em;
}
#fulljob.fjsettings {
  margin: 2em auto 0 auto;
  height: 520px;
  border-radius: 5px;
}
.fjsettings #fjbody {
  padding: 1em 0 0.75em 0;
}
.fjsettings #fjbody h4 {
  margin: 0 auto 0.25em auto;
}
.fjsettings #fjbody p {
  margin: 0;
}
.fjsettings .pseudoform {
  margin-bottom: 1em;
}
.fjsettings input, .fjsettings select {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Myriad Pro';
  font-size: 12pt;
}
.fjsettings input[type=text], .fjsettings input[type=password] {
  width: 192px;
  padding: 6px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 5px;
}
.fjsettings select {
  padding: 5px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 5px;
  color: #000000;
}
.fjsettings input[type=submit] {
  background-color: #fb4d00;
  padding: 5px 10px 3px;
  border-style: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}
.fjsettings input[type=submit]:hover {
  background-color: #fb7700;
}
.fjsettings textarea {
  margin: 0.5em auto;
  width: 450px;
  height: 150px;
  resize: none;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 5px;
}
#cform input[type=submit] {
  margin: 0 auto;
}
.errbox {
  width: 512px;
  margin: 2em auto;
  background-color: #ffffff;
  padding: 1em;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
  border-radius: 5px;
  text-align: center;
  word-break: break-all;
}
#setchgbtn {
  margin: 0;
  text-align: center;
}
.box {
  width: 550px;
  margin: 2em auto;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
  padding: 1em;
}
.cbox {
  text-align: center;
}
.box h1, .box h3, .box h4, .box p {
  margin: 0.125em auto;
}
.box .hr {
  height: 1px;
  background-color: #eeeeee;
  margin: 0.75em auto;
}
.cbox .hr {
  width: 90%;
}
.ratingdata {
  display: block;
  height: 16px;
}
.norating {
  height: 16px;
}
.star {
  width: 16px !important;
  height: 16px !important;
  margin: 0px 2px !important;
}
