#viewform {
  width: 548px;
  margin: 2em auto -1.25em;
  font-size: 14pt;
}
#viewform select {
  font-family: 'Myriad Pro';
  font-size: 12pt;
  padding: 5px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 5px;
  color: #000000;
  margin-left: 10px;
}
.appcbtn {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  background-image: url('../img/check_blank.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.appcbtn:hover {
 background-image: url('../img/check_hover.png');
}
