.hidden {
  display: none;
}
#profile {
  width: 800px;
  margin: 2em auto;
  background-color: #ffffff;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
}
#profile input {
  margin-top: 0.35em;
  margin-bottom: 0.35em;
  font-family: 'Myriad Pro';
  font-size: 12pt;
}
#profile p, #profile h3, #profile h4 {
  margin: 0;
}
#profile input[type=text], #profile input[type=password] {
  width: 248px;
  padding: 6px 12px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
#profile #inpstate, #profile #inpzip {
  width: 109.5px;
}
#profile input[type=submit], #profile input[type=button], #profile button {
  background-color: #fb4d00;
  padding: 5px 10px 3px;
  border-style: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}
#profile input[type=submit]:hover, #profile input[type=button]:hover, #profile button:hover {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
}
#profile textarea {
  margin: 0.25em auto;
  width: 450px;
  height: 150px;
  resize: none;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 5px;
}
#proheader {
  text-align: center;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eeeeee;
}
#proleft {
  float: left;
  text-align: center;
}
#propic {
  margin: 0.5em auto;
  cursor: pointer;
}
.public #propic {
  cursor: default;
}
#propic img {
  width: 192px;
  height: 192px;
}
#hoverupload {
  position: relative;
  top: -53px;
  text-align: center;
  width: 192px;
  height: 20px;
  background-color: rgba(251,77,0,0.4);
  font-size: 20px;
  padding: 14px 0;
  display: none;
}
#propic:hover #hoverupload {
  display: block;
}
#proright {
  margin-left: calc(192px + 3em);
  margin-bottom: 1em;
}
.public #probody {
  margin: 1em 0;
}
#profile a {
  text-decoration: none;
  color: #fb4d00;
  cursor: pointer;
}
#profile a:hover {
  color: #fb7700;
}
#proreviews {
  text-align: center;
  border-top: 1px solid #eeeeee;
  padding-top: 1em;
}
.review {
  text-align: left;
  margin: 1em;
}
#profile .revname a, #profile .revname a:hover {
  color: #000000;
  font-weight: bold;
}
.revpic img {
  width: 64px;
  height: 64px;
}
#profile .revjob a, #profile .revjob a:hover {
  color: #000000;
  font-style: italic;
}
.reviewleft {
  float: left;
  clear: both;
  width: 156px;
  word-break: break-word;
  overflow-x: hidden;
  margin-right: 1em;
}
.reviewright {
  min-height: 108px;
}
#proreviews .revstars {
  margin-bottom: 0.5em;
}
#profile #prowarning {
  text-align: center;
  color: #af3500;
  font-weight: bold;
  margin: 1em 0;
}
